<div class="main">
  <div class="content">
    <h1>
      <span>Take care of yourself with</span>
      <br>
      <span id="wellnesWise">Wellness Wise:</span>
      <br>
      beauty, health, and balance
    </h1>
    <a routerLink="/start-my-journey"><button>Get started now</button></a>
  </div>
  <div class="slider">
    <div class="slide-wrapper">
      <img src="assets/photo.jpg">
      <img src="assets/photo.jpg">
    </div>
  </div>
</div>

<div class="second-page">
  <div class="container">
    <div id="center">
      <img src="assets/healthy.png"
           width="980" height="600" alt="The Diet That Works When Nothing Else Does">
    </div>
    <div id="text">
      <h3 class="welcome-text"> Welcome to WellnessWise!</h3>
      <h2 class="welcome-p"> Your trusted partner in health and wellness! We help our clients lead healthy lifestyles by providing quality health tracking, nutrition, skin and body care services.</h2>
    </div>
  </div>
  <div class="container-ended">
    <div class="item">
      <img src="assets/1st.png" height="80px" width="80px" >
      <div class="contents">
        <p> <b> Our mission </b></p>
        <h4 class="smaller">is to help people achieve and maintain their physical and emotional goals. We offer a wide range of services to improve their physical and mental well-being.
        </h4>
      </div>
    </div>
    <div class="item">
      <img src="assets/2nd.png" height="80px" width="80px">
      <div class="contents">
        <p> <b> Our team</b></p>
        <h4 class="smaller"> of experienced health and beauty professionals is always ready to help you achieve your goals. We believe that a healthy lifestyle is about taking care of your body and mind.</h4>
      </div>
    </div>
    <div class="item">
      <img src="assets/3rd.png" height="80px" width="80px">
      <div class="contents">
        <p> <b> Our goal</b></p>
        <h4  class="smaller">is to help you feel better and more confident in your body. We offer  in choosing the right nutrition and skin and body care.</h4>
      </div>
    </div>
  </div>
</div>


