
body{
  margin: -7px;
}
div{
  display: flex;
  background-color: #E5EBCE;
  border-radius: 3px;
  margin: 0px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 50px;
  margin-top: 25px;
  font-size: 20px;
}
li{
  padding: 15px;
  color: #273204;
  font-family: "Times New Roman";
}
h3{
  margin-right: 700px;
  margin-left: 80px;
  font-size: 30px;
  font-family: "Times New Roman";
  color: #273204;
}
