<head>
  <title>Wellness Wise</title>
</head>
<body>
<div class="navigation">
  <div class="container">
    <div class="navigation-wrapper">
<div class="navigation-logo">
  <a routerLink="aboutus" class="logo-components">
    <img src="assets/WellnessWise.png" class="logo-image" width="40" height="40">
    <span class="logo-word">Wellness Wise</span>
  </a>
</div>
<div class="navigation-content">
  <ul class="navigation-list">
    <li class="navigation-list-item">
      <a routerLink="contact" class="navigation-list-link">Contact</a>
    </li>
    <li class="navigation-list-item">
      <a routerLink="review" class="navigation-list-link">Reviews</a>
    </li>
  </ul>

  <div class="header-navigation-buttons">
    <ng-container *ngIf="!authService.isLoggedIn()">
    <a routerLink="login" class="btn login" >Log In</a>
    <a routerLink="start-my-journey" class="btn startjourney" >Start my journey</a>
    </ng-container>
    <ng-container  *ngIf="authService.isLoggedIn()">
    <a routerLink="logout" class="btn login" (click)="logout()">Log Out</a>
    </ng-container>
  </div>
</div>
</div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer! -->

<footer class="footer">
    <div class="container-footer">
      <div class="top-part">
        <div class="row">
          <div class="ft-column">
            <div class="row">
              <div class="ft-column">
                <div class="ft-column-title">Founders</div>

                <ul class="ft-column-list">
                    <li class="ft-column-list-item">
                      <a>O.Eldana</a></li>
                    <li class="ft-column-list-item">
                      <a>S.Zarina</a></li>
                    <li class="ft-column-list-item">
                      <a>U.Medina</a></li>
                </ul>
              </div>
              <div class="ft-column">
                <div class="ft-column-title">Additional </div>

                <ul class="ft-column-list">
                    <li class="ft-column-list-item">
                      <a routerLink="contact">Contact us </a></li>
                    <li class="ft-column-list-item">
                        <a routerLink="review">Reviews </a></li>
                </ul>
              </div>
              <div class="ft-column">
                <div class="ft-column-title">Address</div>

                <ul class="ft-column-list">
                    <li class="ft-column-list-item">
                      <a href="https://kbtu.edu.kz/ru/">KBTU,st.
                        Tole bi 59 </a></li>
                </ul>
              </div>
            </div>

          </div>
          <div class="ft-column">
            <div class="ft-column-title">Keep in touch</div>
            <div class="socials">
              <div class="social-item">
                <a href="https://www.facebook.com/groups/ketocycle.diet" target="_blank">
                  <img src="https://ketocycle.diet/assets/images/landing/organic_landing/social-facebook.svg" width="24" height="24" alt="Social Facebook">
                </a>
              </div>
              <div class="social-item">
                <a href="https://www.instagram.com/ketocycle.diet/" target="_blank">
                  <img src="https://ketocycle.diet/assets/images/landing/organic_landing/social-instagram.svg" width="24" height="24" alt="Social Instagram">
                </a>
              </div>
              <div class="social-item">
                <a href="https://www.youtube.com/channel/UCtk5YCzXJYjiIkH6kTJtB2w">
                  <img src="https://ketocycle.diet/assets/images/landing/organic_landing/social-youtube.svg" width="24" height="24" alt="Social Youtube">
                </a>
              </div>
            </div>

        </div>
      </div>

      </div>
      </div>
</footer>
</body>

