<div class="sign-in-page">
  <div class="sign-in-form-container">
    <p class="login-text">Login</p>
    <form>
        <div class="field-wrapper">
          <label for="email" class="input-label">Email address</label>
          <div class="input-wrapper">
            <div class="input-container">
              <input class="input" type="email" placeholder="Email address">
            </div>
          </div>
        </div>
        <div class="field-wrapper">
          <label for="password" class="input-label">Password</label>
          <div class="input-wrapper">
            <div class="input-container">
              <input class="input" type="password" placeholder="Password">
            </div>
          </div>
        </div>
        <button type="submit" class="login-button">Log in</button>
      </form>
    <div class="to-signup">
      <p>New here?</p>
      <a routerLink="">Sign Up</a>
    </div>

  </div>
  <div class="photo-section">
    <div class="photo-container">
      <img src="assets/loginimg.png">
    </div>
  </div>
</div>
