<div class="background">
  <video src="assets/first.mp4" width="100%" alt="healthy diet" autoplay muted loop> </video>
  <div class="square square-left">
    <a routerLink="healthy-diet">Healthy diet</a>
  </div>
</div>
<div class="background">
  <video src="assets/2nd-background.mp4" width="100%" alt="skin care" autoplay muted loop> </video>
  <div class="square square-right">
    <a routerLink="skin-care">Skin care</a>
  </div>
</div>
<div class="background">
  <video src="assets/3rd-background.mp4" width="100%" alt="skin care" autoplay muted loop> </video>
  <div class="square square-left">
    <a routerLink="sport">Sport</a>
  </div>
</div>
