<div class="sign-in-page">
  <div class="sign-in-form-container">
    <p class="login-text">Start your journey!</p>
    <form>
      <div class="field-wrapper">
        <label for="last_name" class="input-label">Last name </label>
        <div class="input-wrapper">
          <div class="input-container">
            <input class="input" placeholder="Last name">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <label for="first_name" class="input-label">First name</label>
        <div class="input-wrapper">
          <div class="input-container">
            <input class="input"  placeholder="First name">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <label for="email" class="input-label">Email</label>
        <div class="input-wrapper">
          <div class="input-container">
            <input class="input" type="email" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <label for="password" class="input-label">Password</label>
        <div class="input-wrapper">
          <div class="input-container">
            <input class="input" type="password" placeholder="Password">
          </div>
        </div>
      </div>
      <button type="submit" class="login-button"><a routerLink="res-page">Sign up</a></button>
    </form>

  </div>
</div>
